@import "tailwindcss";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

html {
    scroll-behavior: smooth;
}

body {
    background: #f8fbff;
    color: #0f172a;
}

.prose-custom p {
    margin-bottom: 1.25rem;
    line-height: 1.9;
    color: #334155;
}

.prose-custom h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #0f172a;
}

.prose-custom h3 {
    margin-top: 1.5rem;
    margin-bottom: .75rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #0f172a;
}